<!-- Search START-->
<div class="widget search" id="">
  <div class="widget-content">
    <div id="searchbox">
      <label for="" style="display:none">Search</label>
      <input type="text" #keywordInput [value]="searchSvc.keyword_default" (keyup.enter)="searchSvc.doSearch(keywordInput.value)" placeholder="請輸入搜尋關鍵字" accesskey="s">

      <input type="button" value="搜尋" id="searchbutton" (click)="searchSvc.doSearch(keywordInput.value)"> {{ searchSvc.keyword }}
    </div>
  </div>
</div>
<!-- Search END -->
